@import './variables.scss';

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin card-shadow {
  box-shadow: $shadow-md;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
