@import '../styles/variables.scss';

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: $spacing-8;

  &__content {
    text-align: center;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-3;
    color: $text-primary;
  }

  &__description {
    font-size: $font-size-base;
    color: $text-secondary;
    margin-bottom: $spacing-6;
  }
}
