@import '../../styles/variables.scss';

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__spinner {
    border: 3px solid $grey-200;
    border-top-color: $primary;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;

    &--sm {
      width: 20px;
      height: 20px;
    }

    &--md {
      width: 40px;
      height: 40px;
    }

    &--lg {
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    margin-top: $spacing-3;
    color: $text-secondary;
    font-size: $font-size-sm;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
