@import '../../styles/variables';

.select {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-4;

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $text-primary;
    margin-bottom: $spacing-2;
  }

  &__required {
    color: $danger;
    margin-left: $spacing-1;
  }

  &__field {
    padding: $spacing-3;
    border: 2px solid $grey-300;
    border-radius: $radius-md;
    font-size: $font-size-base;
    font-family: $font-family-base;
    background-color: white;
    cursor: pointer;
    transition: border-color $transition-base;

    &:focus {
      outline: none;
      border-color: $primary;
    }

    &--error {
      border-color: $danger;

      &:focus {
        border-color: $danger;
      }
    }

    &:disabled {
      background-color: $grey-100;
      cursor: not-allowed;
    }
  }

  &__error {
    font-size: $font-size-sm;
    color: $danger;
    margin-top: $spacing-1;
  }
}
