@import '../../styles/variables.scss';

.work-schedule {
  margin: $spacing-6 0;

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-4;
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
  }

  &__row {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: $spacing-4;
    align-items: center;
  }

  &__day {
    font-weight: $font-weight-medium;
  }

  &__times {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-3;
  }
}
